{% extends "AppTrabajo/herencia.html" %}

{% load static %}

{% block herencia %}

<div style="background-color: rgb(114, 247, 165);">
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Bienvenidos Expedicionistas</h1>
    <br>
    <ul>
        {% for e in Expedicionista %}
        <li>{{e}}</li>
        <button>
            <a href="{% url 'EliminarExpedicionista' e.legajo %}"> Eliminar</a>
            <a href="{% url 'EditarExpedicionista' e.legajo %}"> Editar</a>
        </button>
        {% endfor %}
    </ul>
</div>

{% endblock %}