{% extends "AppTrabajo/herencia.html" %}

{% load static %}

{% block herencia %}

<div style="background-color: rgb(194, 114, 247);">
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Vendedores</h1>
    <br>
    <ul>
        {% for v in Vendedor %}
        <li>{{v}}</li>
        <button>
            <a href="{% url 'EliminarVendedor' v.legajo %}"> Eliminar</a>
            <a href="{% url 'EditarVendedor' v.legajo %}"> Editar</a>
        </button>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}