{% extends "AppTrabajo/herencia.html" %}

{% load static %}

{% block herencia %}

<div style="background-color: rgb(114, 247, 165);">
    <!--Aquí va lo que cambia, y lo asociado a está vista :) 
    <h1>Registro Expedicionista</h1>
    <form action="/registroExpedicionista/" method="post">{% csrf_token %} 
    <p>Gerente: <input type="text" name="gerente"></p>
    <p>Legajo: <input type="number" name="legajo"></p>
    <p>Ingreso: <input type="datetime" name="ingreso"></p>
    <input type="submit" value="Registrar">    
    </form> -->
    <h1>Registro Expedicionista</h1>
    
    {% if registro.errors %}

    <p style="color: red;"> Datos erróneos</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ registro.as_table }}


        </table>


        <input type="submit", value="Registrar">

    </form>
    <br>
</div>

{% endblock %}